<nav>
      <form action="/artist-search", method="GET">
      <input placeholder="Search" id="artist" name="artist"type="text">
      <button type="submit">Search for an Artist</button>
      </form>
    </nav>